html, :root, :host {
    --pico-font-size: 100%;
    background-color: #f2f4f6;
}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 950px;
  }
}

.flexy {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flexy > main {
  flex-grow: 1;
}

.flexy > footer {
  flex-shrink: 0;
}

.flexx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pico td [role=button],
.pico td button {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
